@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
     font-size: 16px; 
}


p, h6{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 40px;
}

.dev img{
    width: 20%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border: 1px solid rgb(236, 107, 38);
    border-radius: 5px;
}

.dev img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    border: none;
  }

.dev ul{
    display:grid;
    justify-content: center;
}


.dev a{
    color: #FCC59B;
    transition: all 0.3 s ease 0s;
    justify-content: center;
    
 }

   a:hover{
    color: navy;
  }
