 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.page_title {
    margin-top: 40px;
    font-family: Hammersmith One;
    font-size: 30px;
}

.Ref {
    font-family: Hammersmith One;
    font-size: 30px;
    color: #E36506;
}

.contact {
    margin-top: 30px;
    background-color: #FCC59B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 5%;
    margin-left: 400px;
    margin-right: 400px;

}

.contact a {
    text-decoration: underline;
    text-decoration-color: black;
}

.contact a :hover {
    color: #0088a9;
    text-decoration-color: #0088a9;
}

.contact h6 {
    font-family: Inter;
    font-size: 16px;
}

.contact p strong {
    font-weight: bold;
    font-size: 18px;
    font-family: Inter;
}

.contact p {
    font-size: 18px;
    font-family: Inter;
}

.contact {
    margin-bottom: 254px;
}

@media (max-width: 600px) {
    .contact-form {
        padding: 20px;
    }
}


