/* CSS Styles */
.home {
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: -25px;
  margin-bottom: 20px;
}

/* Random Quote Section */
.random-quote {
  border: 1px solid rgba(0, 0, 0, 0.06);
  /* max-height: 350px; */
  background-color: rgba(0, 0, 0, 0.06);
  padding: 10px;
  overflow: hidden;
  margin-top: 141px;
  width: 100%;
}

.random-quote h4 {
  color: #E36506; /* Change author color to orange */
  font-family: Hammersmith One;
  font-size: 16px; /* Adjust author font size as needed */
  margin-bottom: 5px;
}



.random-quote p {
  text-align: center;
  font-family: Inika;
  font-size: 20px;
  font-weight: 1200px;
  font-style: normal;
  margin-top: 25px;
  max-height: 1000px;
  overflow: auto;
  color: black; /* Change quote text color to black */
  word-wrap: break-word;
}

/* Articles Section */
.related-articles {
  width: 1100px;
  /* height: 573px; */
  flex-shrink: 0;
  /* border: 1px solid black; */
  background: #FFF;
  padding: 20px; 
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted #FCC59B;
}

.article-grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 20px;
}

.article {
  height: 360px;
  background-color: white;
  /* border: 1px solid blue; */
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.article__img {
  width: 100%;
  height: 200px;
}



.article h3 {
  color: #E36506;
  font-family: Inika;
  font-size: 24px;
  font-style: normal;
  font-weight: 600px;
}

.article p {
  color: #000;
  font-family: 'Inria Serif', serif;
  font-size: 18px;
}

.article a {
  color: #E36506;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


.article a:hover {
  text-decoration: underline;
}

.related-articles h2 {
  color: #E36506;
  background-color: white;
  text-align: center;
  font-family: 'Hammersmith One';
  font-size: 40px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  width: 100%;
  margin-bottom: 60px;
}

.related-articles h2 span {
  color: #000;
  font-family: 'Inria Serif';
  font-size: 40px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  width: 70%;
}

/* .logo {
  width: 52px; 
  height: 50px; 
  background: url('../assets/logo.png') lightgray 50% / cover no-repeat ;
  margin-right: 10px; 
} */

* {
  box-sizing: border-box;
}

iframe {
  border-radius: 15px;
  width: 518px;
  height: 361px;
}

.CTA {
  /* border: 1px dashed #ffb781; */
  display: flex;
  flex-direction: column;
  background-color: #FDE2CD;
  margin-left: 119px;
  margin-right: 15px;
  padding: 20px; 
}

.CTA h3 {
  font-size: 30px;
  font-family: Hammersmith One;
  /* border: 3px solid; */
  margin-top: 0;
  margin-bottom: 10px;
}

.CTA p {
  font-family: Inika;
  font-size: 16px;
  /* border: 3px solid; */
  margin-top: -10px;
}

.CTA span {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  
}

.CTA a {
  font-size: 16px;
  font-family: Inika;
}

.CTA span :hover {
  color: #0088a9;
  text-decoration: underline;
  text-decoration-color: #0088a9;
}

@media screen and (min-width: 1680px) {
  /* Adjust styles for screens with a minimum width of 768 pixels */
  .content {
    flex-direction: row; /* Change back to row on larger screens */
  }

  .random-quote {
    width: 30%; /* Adjust width for larger screens */
  }

  .related-articles {
    width: 70%; /* Adjust width for larger screens */
    margin-left: 20px; /* Add left margin on larger screens */
    margin-top: 40px; /* Adjust top margin for larger screens */
    margin-right: 45px; /* Add right margin on larger screens */
  }

  .article-grid {
    grid-template-columns: 1fr 1fr;
  }
}