/* CSS Styles */
.home {
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

/* Random Quote Section */
.random-quote {
  border: 1px solid rgba(0, 0, 0, 0.06);
  width: 400px;
  max-height: 350px;
  background-color: rgba(0, 0, 0, 0.06);
  margin-right: 25px;
  padding: 10px;
  overflow: hidden;
  margin-top: 125px ;
}

.random-quote h4 {
  color: #E36506; /* Change author color to orange */
  font-family: Hammersmith One;
  font-size: 16px; /* Adjust author font size as needed */
  margin-bottom: 5px;
}

.random-quote p {
  margin-top: 25px;
  max-height: 1000px;
  overflow: auto;
  color: black; /* Change quote text color to black */
  word-wrap: break-word;
}

/* Articles Section */
.related-articles {
  width: 1050px;
  height: 573px;
  flex-shrink: 0;
  border: 1px solid black;
  background: #FFF;
  padding: 20px; 
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article {
  width: calc(50% - 20px);
  margin-bottom: 20px; 
}

.article hr {
  width: 100%;
  height: 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  margin: 5px 0; 
}



.article h3 {
  color: #E36506;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 28px;
}

.article p {
  color: #000;
  font-family: 'Inria Serif', serif;
  font-size: 18px;
}

.article a {
  color: #E36506;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}


.article a:hover {
  text-decoration: underline;
}

.related-articles h2 {
  color: #E36506;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin-bottom: 60px;
}

.related-articles h2 span {
  color: #000;
  font-family: 'Inria Serif', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 70%;
}

.logo {
  width: 52px; 
  height: 50px; 
  background: url('../assets/logo.png') lightgray 50% / cover no-repeat ;
  margin-right: 10px; 
}

* {
  box-sizing: border-box;
}



