 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 


.nav_bar ul, li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:black;
  text-decoration: none;
}


 .logo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    cursor: pointer;
  }


.nav_bar ul {
  list-style-type: none;
  margin-left: 100px;
  padding: 0;
  overflow: hidden;
  /* background-color: #FCC59B; */
}

.nav_bar {
  margin-top: 20px;
  align-items: flex-start;
  background-color: #FCC59B; 
  display: flex;
  direction: row;
  height: 80px;
  justify-content: space-between;
  padding: 30px, 10%;
  /* padding-left: 150px; */
  
}

li {
  float: left;
}


li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




.nav_links{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 30px;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}


.nav_links a{
  transition: all 0.3 s ease 0s;
}
.nav_links li a:hover{
  color: #0088a9;
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3 s ease 0s;
  
}
button:hover{
  color: #0088a9;
}

img{
  width: auto;
}
